.cusbtn{
    width: 13%;
    height: 65px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 25px;
}
.cutmcont{
    transform: translate(-50% , -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
}
.bgdanger{
    background-color: red;
}
@media (max-width : 600px) {
    .cutmcont{
        width: 100%;
    }
    .cusbtn{
        width: 20%;
    }
    .cush{
        font-size: 50px;
    }

}
.banner{
   background-color: antiquewhite;
}